* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template: 150px 1fr 300px / 1fr;
    gap: 0px 0px;
}

.wrap {
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    grid-area: 1 / 1 / span 1 / span 1;

    &__title {
        font-size: 50px;
    }

    &__change {
        font-size: 30px;

        &__search {
            display: none;
        }
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 80, 255);
    grid-area: 2 / 1 / span 1 / span 1;

    &__info {
        font-size: 70px;
        text-align: center;
    }
}

.footer {
    background-color: rgba(0, 0, 0, 0.411);
    column-gap: 100px;
    display: flex;
    justify-content: center;
    grid-area: 3 / 1 / span 1 / span 1;

    &__info {
        // background-color: rgba(55, 0, 255, 0.438);
        height: 100%;
        width: 350px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;

        &__img {
            position: absolute;
            left: 0;
            top: 0;

            &__mod {
                height: 40px;
                width: 40px;
            }
        }
    }
}
