* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template: 150px 1fr 300px/1fr;
  gap: 0px 0px;
}

.wrap {
  padding-left: 100px;
  padding-right: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  grid-area: 1/1/span 1/span 1;
}
.header__title {
  font-size: 50px;
}
.header__change {
  font-size: 30px;
  width: 250px;
}
.header__change__search {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.349);
  transition: 1s;
  border-radius: 25px;
  position: relative;
}
.header__change__search:hover {
  border-color: rgba(255, 255, 255, 0.6235294118);
}
.header__change__search:hover .header__change__search__input {
  color: rgb(255, 255, 255);
}
.header__change__search__input {
  transition: 1s;
  width: 100%;
  outline: none;
  background: transparent;
  height: 100%;
  color: rgba(0, 0, 0, 0.76);
  font-size: 20px;
  padding: 15px;
  border: none;
}
.header__change__search__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.507);
}
.header__change__search__input::placeholder {
  color: rgba(255, 255, 255, 0.507);
}
.header__change__search__send {
  width: 50px;
  outline: none;
  background: transparent;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__change__search__send_icon {
  fill: rgba(0, 0, 0, 0.507);
  transition: 0.5s;
}
.header__change__search__send_icon:hover {
  fill: rgb(255, 255, 255);
}
.header__change__search__warn {
  position: absolute;
  top: 50px;
  left: 15px;
  font-size: 25px;
  transition: 1s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.671);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 80, 255);
  grid-area: 2/1/span 1/span 1;
}
.main__info {
  font-size: 70px;
  text-align: center;
}

.footer {
  background-color: rgba(0, 0, 0, 0.411);
  grid-area: 3/1/span 1/span 1;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__menu {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.footer__menu__choice {
  width: 200px;
  text-align: start;
  color: rgba(255, 255, 255, 0.664);
  height: 50px;
  font-size: 30px;
  border: none;
  background: transparent;
  transition: 0.3s linear;
  outline: none;
  border-bottom: 2px solid transparent;
}
.footer__menu__choice:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.footer__info {
  width: 100%;
  height: 100%;
  -moz-column-gap: 100px;
       column-gap: 100px;
  display: flex;
  justify-content: center;
  display: none;
}
.footer__info__field {
  height: 100%;
  width: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: rgb(255, 255, 255);
}
.footer__info__field__img {
  position: absolute;
  left: 0;
  top: 0;
}
.footer__info__field__img__mod {
  height: 40px;
  width: 40px;
}

.active-text {
  color: rgb(255, 255, 255);
}
.active-block {
  display: flex;
}/*# sourceMappingURL=style.css.map */